.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }

  .orderbtn {
    color: #000;
    text-decoration: none;
    padding: 9px 15px; 
    border: 2px solid #facc22;
    position: relative;
    top: 20px;
    transition: 0.3s;
    z-index: 5;
    cursor: pointer;
    font-size: 15px;
  }
  .orderbtn:hover{
    background: #facc22;
    transition: 0.3s;
}
  .class__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .class__image {
    position: relative;
  }
  .class__image .class__img-1 {
    position: absolute;
    right: 0;
    top: 10px;
    width: 400px;
    border-radius: 10px;
    border: solid;
    box-shadow: 3px 20px 50px rgba(0, 0, 0, 0.3);
  }
  
  .class__image .class__img-2 {
    position: absolute;
    left: 150px;
    bottom: 0;
    top: 50px;
    max-width: 250px;
    border-radius: 10px;
    border: solid;
    box-shadow: 3px 20px 20px rgba(14, 23, 13, 0.3);
  }
  
  .class__content {
    padding: 2rem 0;
  }
  
  .class__content .section__header {
    text-align: left;
    max-width: 400px;
  }
  
  .class__content p {
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: var(--text-light);
    text-align: left; 
  }
